openapi: "3.0.0"
info:
  version: 1.0.0
  title: GRPE.xyz OpenAPI
  license:
    name: MIT
servers:
  - url: http://grpe.xyz/api/v1
paths:
  /sales/invoices:
    get:
      summary: List all invoices
      operationId: listPets
      tags:
        - invoices
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            maximum: 100
            format: int32
      responses:
        '200':
          description: A paged array of pets
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
    post:
      summary: Create a pet
      operationId: createPets
      tags:
        - invoices
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sales/invoices/{invoiceNumber}:
    get:
      summary: Info for a specific pet
      operationId: showPetById
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          required: true
          description: The number of the invoice to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Invoice:
      x-swagger-router-model: xyz.grpe.document.Invoice
      type: object
      required:
        - id
        - name
      properties:
        ipId:
          type: integer
          format: int64
        invoiceNumber:
          type: string
        invoiceType:
          type: string
          example: INV001
          description: The type of invoice
        invoiceDate:
          type: string
          format: date-time
        customer:
          type: string
        payer:
          type: string
        totalGrossAmount:
          type: string
        totalTaxAmount:
          type: string
        termsOfPayment:
          type: string
        vatRegistrationNumber:
          type: string
        status:
          type: string
        currency:
          type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
          xml:
            wrapped: true
            name: lineitems
    Invoices:
      type: array
      maxItems: 100
      items:
        $ref: "#/components/schemas/Invoices"
    LineItem:
      properties:
        id:
          type: string
          example: 437 Lytton
        city:
          type: string
          example: Palo Alto
        state:
          type: string
          example: CA
        zip:
          type: string
          example: 94301
      xml:
        name: lineitems
      type: object
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string